<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/public/css/materialize.min.css">
  <title>Todo List</title>
</head>
<body>
  <div class="container">
  <div id="datas">
    <div class="row" v-if="pages==='dataDate'">
      <div class="row">
        <nav class="light-blue lighten-1" role="navigation">
          <div class="nav-wrapper container"><a id="welcome" href="#" class="brand-logo"></a>
            <ul class="right hide-on-med-and-down">
              <li><a @click="dataPage">data</a></li>
              <li><a @click="dataDatePage">data Date</a></li>
              <li><a @click="logout">logout</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
          </div>
        </nav>
      </div>
      <br>
      <div id="modalmodalan" class="modal">
      <div class="modal-content">
        <h3>Update</h3>
        <div class="row">
          <form class="col s12">
            <div class="row">
            <div class="input-field col s12 m12">
              <input v-model="updatedDatadate.datadate" name="date" type="text" class="validate">

            </div>
            <div class="input-field col s12 m12">
              <input v-model="updatedDatadate.frequency" name="frequency" type="number" class="validate">
              <label class="active" for="frequency">add a frequency</label>
            </div>
          </form>
          <a href="#!" id="updateData" class="waves-effect waves-light btn modal-close" @click="updateDatadate(updatedDatadate._id)">submit</a>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
      </div>
    </div>
  </div>
  <div id="modalmodalan2" class="modal">
  <div class="modal-content">
    <h3>New Data</h3>
    <div class="row">
      <form class="col s12">
        <div class="row">
        <div class="input-field col s12 m12">
          <input v-model="datadate.datadate" name="letter" type="date" class="validate">
        </div>
        <div class="input-field col s12 m12">
          <input v-model="datadate.frequency" name="frequency" type="number" class="validate">
          <label class="active" for="frequency">add a frequency</label>
        </div>
      </form>
      <a href="#!" id="updateData" class="waves-effect waves-light btn modal-close" @click="addDataDate">submit</a>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
  </div>
  </div>
  </div>
    <div class="row">
      <div class="row">
        <form class="col s12">
          <div class="row">
          <div class="input-field col s4 m4">
            <input v-model="datadate.sLetter" name="letter" type="date" class="validate">
            <label class="active" for="letter">add a letter</label>
          </div>
          <div class="input-field col s4 m4">
            <input v-model="datadate.sFreq" name="frequency" type="Number" class="validate">
            <label class="active" for="frequency">add a frequency</label>
          </div>
        </form>
        <a class="waves-effect waves-light blue btn" name="newtod" @click="searchDataDate">search</a>
      </div>

      <a class="waves-effect waves-light blue btn" name="newtod" href="#modalmodalan2">add new</a>
    </div>



      <div class="row">
        <h3>data: </h3>

          <table>
            <thead>
              <tr>
                  <th data-field="id">Letter</th>
                  <th data-field="name">Frequency</th>
                  <th data-field="price">Actions</th>
              </tr>
            </thead>

            <tbody id="tabelEvent" v-for="dataz in datases">
              <tr>
                <td>{{dataz.datadate}}</td>
                <td>{{dataz.frequency}}</td>
                <td><a class="waves-effect waves-light btn" name="update" href="#modalmodalan" @click="open2(dataz._id)" >update</a> <a class="waves-effect waves-light btn" name="delete" @click="deleteDataDate(dataz._id)">delete</a></td>
              </tr>
            </tbody>
          </table>
        </div>

    </div>
  </div>
  <div class="row" v-if="pages==='data'">
    <div class="row">
      <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container"><a id="welcome" href="#" class="brand-logo"></a>
          <ul class="right hide-on-med-and-down">
            <li><a @click="dataPage">data</a></li>
            <li><a @click="dataDatePage">data Date</a></li>
            <li><a @click="logout">logout</a></li>
          </ul>
          <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
      </nav>
    </div>
    <br>
    <div id="modalmodalan" class="modal">
    <div class="modal-content">
      <h3>Update</h3>
      <div class="row">
        <form class="col s12">
          <div class="row">
          <div class="input-field col s12 m12">
            <input v-model="updatedDatas.letter" name="letter" type="text" class="validate">
            <label class="active" for="letter">add a letter</label>
          </div>
          <div class="input-field col s12 m12">
            <input v-model="updatedDatas.frequency" name="frequency" type="number" class="validate">
            <label class="active" for="frequency">add a frequency</label>
          </div>
        </form>
        <a href="#!" id="updateData" class="waves-effect waves-light btn modal-close" @click="updateData(updatedDatas._id)">submit</a>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
  </div>
</div>
<div id="modalmodalan2" class="modal">
<div class="modal-content">
  <h3>New Data</h3>
  <div class="row">
    <form class="col s12">
      <div class="row">
      <div class="input-field col s12 m12">
        <input v-model="datas.letter" name="letter" type="text" class="validate">
        <label class="active" for="letter">add a letter</label>
      </div>
      <div class="input-field col s12 m12">
        <input v-model="datas.frequency" name="frequency" type="number" class="validate">
        <label class="active" for="frequency">add a frequency</label>
      </div>
    </form>
    <a href="#!" id="updateData" class="waves-effect waves-light btn modal-close" @click="addData">submit</a>
  </div>
</div>
<div class="modal-footer">
  <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
</div>
</div>
</div>
  <div class="row">
    <div class="row">
      <form class="col s12">
        <div class="row">
        <div class="input-field col s4 m4">
          <input v-model="datas.sLetter" name="letter" type="text" class="validate">
          <label class="active" for="letter">add a letter</label>
        </div>
        <div class="input-field col s4 m4">
          <input v-model="datas.sFreq" name="frequency" type="Number" class="validate">
          <label class="active" for="frequency">add a frequency</label>
        </div>
      </form>
      <a class="waves-effect waves-light blue btn" name="newtod" @click="searchData">search</a>
    </div>

    <a class="waves-effect waves-light blue btn" name="newtod" href="#modalmodalan2">add new</a>
  </div>



    <div class="row">
      <h3>data: </h3>

        <table>
          <thead>
            <tr>
                <th data-field="id">Letter</th>
                <th data-field="name">Frequency</th>
                <th data-field="price">Actions</th>
            </tr>
          </thead>

          <tbody id="tabelEvent" v-for="dataz in datases">
            <tr>
              <td>{{dataz.letter}}</td>
              <td>{{dataz.frequency}}</td>
              <td><a class="waves-effect waves-light btn" name="update" href="#modalmodalan" @click="open(dataz._id)" >update</a> <a class="waves-effect waves-light btn" name="delete" @click="deleteData(dataz._id)">delete</a></td>
            </tr>
          </tbody>
        </table>
      </div>

  </div>
</div>

  </div>
</body>
<script type="text/javascript" src="/public/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="/public/js/materialize.min.js"></script>
<script src="http://maps.google.com/maps/api/js"></script>
<script src="public/js/gmaps.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    var t= localStorage.getItem('token')
    if(t){
      var c= localStorage.getItem('user')
      $('#welcome').html(`welcome ${c}`);
      $('.modal').modal();
    }
    else{
      window.location.href='http://127.0.0.1:8080/welcome.html'
    }
  })
</script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>

<script type="text/javascript" src="/public/js/ajax.js"></script>
</html>
